
// Background color
$default-color:black;

// colors 
$default-color: black;
$special-green: #08851d;
$header-background:#57cc99;
$elegant-white:#f8f9fa;
$rick-green: #2D9F5B;

//fonst ?
$the-font:'Rubik', sans-serif;
$poppins-font:'Poppins', sans-serif;