
// Background color
$default-color:black;
$semigreen-background:#f2f7f5;

// colors 
$default-color: black;
$special-green: #08851d;
$header-background:#57cc99;
$elegant-white:#f8f9fa;
$rick-green: #2D9F5B;
$light-green:#2cb67d;
$semidark-green:#00473e;
$cool-sky-blue:#03a9f4;
$regular-back:orange;
$danger-background:#f94144;
//fonst ?
$the-font:'Rubik', sans-serif;
$poppins-font:'Poppins', sans-serif;



